<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="HigQ1_exe" value="C:\Games\Higurashi 1 - Question Arcs\HigurashiEp01Onikakushi.exe" />
    <add key="HigQ2_exe" value="C:\Games\Higurashi 1 - Question Arcs\HigurashiEp02Watanagashi.exe" />
    <add key="HigQ3_exe" value="C:\Games\Higurashi 1 - Question Arcs\HigurashiEp03Tatarigoroshi.exe" />
    <add key="HigQ4_exe" value="C:\Games\Higurashi 1 - Question Arcs\HigurashiEp04Himatsubushi.exe" />
    <add key="HigA1_exe" value="C:\Games\Higurashi 2 - Answer Arcs\HigurashiEp05Meakashi.exe" />
    <add key="HigA2_exe" value="C:\Games\Higurashi 2 - Answer Arcs\HigurashiEp06Tsumihoroboshi.exe" />
    <add key="HigA3_exe" value="C:\Games\Higurashi 2 - Answer Arcs\HigurashiEp07Minagoroshi.exe" />
    <add key="HigA4_exe" value="C:\Games\Higurashi 2 - Answer Arcs\HigurashiEp08Matsuribayashi.exe" />
    <add key="HigRei_exe" value="C:\Games\Higurashi 3 - Rei\onscripter-en.exe" />
    <add key="UmiQ_exe" value="C:\Games\Umineko 1 - Question Arcs\Umineko1to4.exe" />
    <add key="UmiA_exe" value="C:\Games\Umineko 2 - Answer Arcs\Umineko5to8.exe" />
    <add key="UmiT_exe" value="C:\Games\Umineko 3 - Tsubasa\en\UminekoTsubasa Patch.exe" />
    <add key="UmiH_exe" value="C:\Games\Umineko 4 - Hane\en\Umineko no Naku Koro ni Hane.exe" />
    <add key="Cic1_exe" value="C:\Games\Ciconia 1 - For You, the Replaceable Ones\ciconia_phase1.exe" />
    <add key="HigHou_exe" value="C:\Windows\notepad.exe" />
    <add key="HigCon_exe" value="C:\Windows\notepad.exe" />
    <add key="UmiS_exe" value="C:\Windows\notepad.exe" />
    <add key="Cic2_exe" value="C:\Windows\notepad.exe" />
    <add key="Cic3_exe" value="C:\Windows\notepad.exe" />
    <add key="Cic4_exe" value="C:\Windows\notepad.exe" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>