<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="HigQ1_exe" value="Higurashi1to4\HigurashiEp01.exe" />
    <add key="HigQ2_exe" value="Higurashi1to4\HigurashiEp02.exe" />
    <add key="HigQ3_exe" value="Higurashi1to4\HigurashiEp03.exe" />
    <add key="HigQ4_exe" value="Higurashi1to4\HigurashiEp04.exe" />
    <add key="HigA1_exe" value="Higurashi5to8\HigurashiEp05.exe" />
    <add key="HigA2_exe" value="Higurashi5to8\HigurashiEp06.exe" />
    <add key="HigA3_exe" value="Higurashi5to8\HigurashiEp07.exe" />
    <add key="HigA4_exe" value="Higurashi5to8\HigurashiEp08.exe" />
    <add key="HigRei_exe" value="HigurashiRei\onscripter-en.exe" />
    <add key="HigHou_exe" value="C:\Windows\notepad.exe" />
    <add key="HigCon_exe" value="C:\Windows\notepad.exe" />
    <add key="UmiQ_exe" value="Umineko1to4\Umineko1to4.exe" />
    <add key="UmiA_exe" value="Umineko5to8\Umineko5to8.exe" />
    <add key="UmiT_exe" value="UminekoTsubasa\en\UminekoTsubasa Patch.exe" />
    <add key="UmiH_exe" value="UminekoHane\en\Umineko no Naku Koro ni Hane.exe" />
    <add key="UmiS_exe" value="C:\Windows\notepad.exe" />
    <add key="Umi07T_exe" value="C:\Windows\notepad.exe" />
    <add key="Cic1_exe" value="Ciconia1\ciconia_phase1.exe" />
    <add key="Cic2_exe" value="C:\Windows\notepad.exe" />
    <add key="Cic3_exe" value="C:\Windows\notepad.exe" />
    <add key="Cic4_exe" value="C:\Windows\notepad.exe" />
  </appSettings>
</configuration>