<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- Games that are officially released on both languages,
    these do not need any locale; to launch Steam releases copy the "steam://" links 
    from comments instead of the paths to .exe files. Requires Steam running. -->
    <add key="Higurashi1" value="C:\Games\07thExpansion\Higurashi1to4\HigurashiEp01.exe" /> <!-- steam://rungameid/310360 -->
    <add key="Higurashi1Param" value="" />
    <add key="Higurashi2" value="C:\Games\07thExpansion\Higurashi1to4\HigurashiEp02.exe" /> <!-- steam://rungameid/410890 -->
    <add key="Higurashi2Param" value="" />
    <add key="Higurashi3" value="C:\Games\07thExpansion\Higurashi1to4\HigurashiEp03.exe" /> <!-- steam://rungameid/472870 -->
    <add key="Higurashi3Param" value="" />
    <add key="Higurashi4" value="C:\Games\07thExpansion\Higurashi1to4\HigurashiEp04.exe" /> <!-- steam://rungameid/526490 -->
    <add key="Higurashi4Param" value="" />
    <add key="Higurashi5" value="C:\Games\07thExpansion\Higurashi5to8\HigurashiEp05.exe" /> <!-- steam://rungameid/577480 -->
    <add key="Higurashi5Param" value="" />
    <add key="Higurashi6" value="C:\Games\07thExpansion\Higurashi5to8\HigurashiEp06.exe" /> <!-- steam://rungameid/668350 -->
    <add key="Higurashi6Param" value="" />
    <add key="Higurashi7" value="C:\Games\07thExpansion\Higurashi5to8\HigurashiEp07.exe" /> <!-- steam://rungameid/1034940 -->
    <add key="Higurashi7Param" value="" />
    <add key="Higurashi8" value="C:\Games\07thExpansion\Higurashi5to8\HigurashiEp08.exe" /> <!-- steam://rungameid/1243670 -->
    <add key="Higurashi8Param" value="" />
    <add key="UminekoQuestion" value="C:\Games\07thExpansion\Umineko1to4\Umineko1to4.exe" /> <!-- steam://rungameid/406550 -->
    <add key="UminekoQuestionParam" value="" />
    <add key="UminekoSaku" value="C:\Games\07thExpansion\Umineko5to8\Umineko5to8.exe" /> <!-- steam://rungameid/639490 -->
    <add key="UminekoSakuParam" value="" />
    <add key="Ciconia1" value="C:\Games\07thExpansion\Ciconia1\ciconia_phase1.exe" /> <!-- steam://rungameid/1162560 -->
    <add key="Ciconia1Param" value="" />

    <!-- Games that right now only have an unofficial translation,
    they require a Japanese locale to work in any language,
    except for the Higurashi Console Arcs port, which doesn't need one.
    The first key should link the Locale Emulator's LEProc.exe,
    the second one - to either patch's .exe or the game's original .exe
    for English and Japanese versions respectively.
    If you have a Japanese locale installed in Windows itself, 
    then you don't need any emulator at all 
    and must put the path to game's .exe in the first key. -->
    <add key="HigurashiRei" value="C:\SOFT\Locale.Emulator\LEProc.exe" />
    <add key="HigurashiReiParam" value="C:\Games\07thExpansion\HigurashiRei\onscripter-en.exe" />
    <add key="UminakoTsubasa" value= "C:\SOFT\Locale.Emulator\LEProc.exe"/>
    <add key="UminakoTsubasaParam" value="C:\Games\07thExpansion\UminekoTsubasa\en\UminekoTsubasa.exe" />
    <add key="UminekoHane" value="C:\SOFT\Locale.Emulator\LEProc.exe"/>
    <add key="UminekoHaneParam" value="C:\Games\07thExpansion\UminekoHane\en\UminekoHane.exe" />
    <add key="HigurashiConsole" value="C:\Windows\notepad.exe" />
    <add key="HigurashiConsoleParam" value="" />

    <!-- Games that don't have any English translation yet,
    they too need a Japanese locale.
    The first key should link the Locale Emulator's LEProc.exe,
    the second one - to the game's .exe.
    If you have a Japanese locale installed in Windows itself, 
    then you don't need any emulator at all 
    and must put the path to game's .exe in the first key. -->

    <add key="HigurashiHou" value="C:\SOFT\Locale.Emulator\LEProc.exe" />
    <add key="HigurashiHouParam" value="C:\Windows\notepad.exe" />
    <add key="UminekoSaku" value="C:\SOFT\Locale.Emulator\LEProc.exe" />
    <add key="UminekoSakuParam" value="C:\Windows\notepad.exe" />
    <add key="07thTheatre" value="C:\SOFT\Locale.Emulator\LEProc.exe" />
    <add key="07thTheatreParam" value="C:\Windows\notepad.exe" />
    
    <!-- Games that aren't released yet -->
    <add key="Ciconia2" value="C:\Windows\notepad.exe" />
    <add key="Ciconia2Param" value="" />
    <add key="Ciconia3" value="C:\Windows\notepad.exe" />
    <add key="Ciconia3Param" value="" />
    <add key="Ciconia4" value="C:\Windows\notepad.exe" />
    <add key="Ciconia4Param" value="" />
  </appSettings>
</configuration>