<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Higurashi1" value="Higurashi1to4\HigurashiEp01.exe" />
    <add key="Higurashi2" value="Higurashi1to4\HigurashiEp02.exe" />
    <add key="Higurashi3" value="Higurashi1to4\HigurashiEp03.exe" />
    <add key="Higurashi4" value="Higurashi1to4\HigurashiEp04.exe" />
    <add key="Higurashi5" value="Higurashi5to8\HigurashiEp05.exe" />
    <add key="Higurashi6" value="Higurashi5to8\HigurashiEp06.exe" />
    <add key="Higurashi7" value="Higurashi5to8\HigurashiEp07.exe" />
    <add key="Higurashi8" value="Higurashi5to8\HigurashiEp08.exe" />
    <add key="HigurashiRei" value="HigurashiRei\ひぐらしのなく頃に礼.exe" />
    <add key="HigurashiHou" value="C:\Windows\notepad.exe" />
    <add key="HigurashiConsole" value="C:\Windows\notepad.exe" />
    <add key="UminekoQuestion" value="Umineko1to4\Umineko1to4.exe" />
    <add key="UminekoSaku" value="Umineko5to8\Umineko5to8.exe" />
    <add key="UminakoTsubasa" value="UminekoTsubasa\うみねこのなく頃に翼.exe" />
    <add key="UminekoHane" value="UminekoHane\うみねこのなく頃に羽.exe" />
    <add key="UminekoSaku" value="C:\Windows\notepad.exe" />
    <add key="07thTheatre" value="C:\Windows\notepad.exe" />
    <add key="Ciconia1" value="Ciconia1\ciconia_phase1.exe" />
    <add key="Ciconia2" value="C:\Windows\notepad.exe" />
    <add key="Ciconia3" value="C:\Windows\notepad.exe" />
    <add key="Ciconia4" value="C:\Windows\notepad.exe" />
  </appSettings>
</configuration>